<?xml version="1.0"?>
<config>
    <google>
        <version>0.0.1</version>
        <title>Google API Integration</title>
        <description>A place to house our webservices</description>
        <author>
            <name>Rick Myers</name>
            <email>rick@humbleprogramming.com</email>
        </author>
        <module>
            <name>Google</name>
            <weight>50</weight>
            <required>N</required>
            <workflow>Y</workflow>
            <package>Integration</package>
            <use>Twig</use>
        </module>
        <structure>
            <models>
                <source>Google/Models</source>
            </models>
            <helpers>
                <source>Google/Helpers</source>
            </helpers>
            <controllers>
                <source>Google/Controllers</source>
                <cache>Google/Controllers/Cache</cache>
            </controllers>
            <mobile>
                <controllers>
                    <source>Google/Mobile/Controllers</source>
                    <cache>Google/Mobile/Controllers/Cache</cache>
                </controllers>
                <views>
                    <source>Google/Mobile/Views</source>
                    <cache>Google/Mobile/Views/Cache</cache>
                </views>
            </mobile>
            <schema>
                <install>Google/Schema/Install</install>
                <update>Google/Schema/Update</update>
                <layout>Google/Schema/DSL</layout>
            </schema>
            <configuration>
                <source>Google/etc</source>
            </configuration>
            <views>
                <source>Google/Views</source>
                <cache>Google/Views/Cache</cache>
            </views>
            <images>
                <source>Google/Images</source>
                <cache>Google/Images/Cache</cache>
            </images>
            <entities>
                <source>Google/Entities</source>
            </entities>
            <RPC>
                <source>Google/RPC</source>
            </RPC>
            <frontend>
                <source>Google/web/app</source>
            </frontend>
        </structure>
        <orm>
            <prefix>google_</prefix>
            <mongodb>google</mongodb>
            <entities>

            </entities>
        </orm>
        <events>

        </events>
        <web>
            <edits>
                <edit1>Google/web/edits/edit.json</edit1>
            </edits>
            <hook>
                <js>
                    <source>Google/web/js/Google.js</source>
                </js>
                <css>
                    <source>Google/web/css/Google.css</source>
                </css>
            </hook>
        </web>
    </google>
</config>