<?xml version="1.0"?>
<config>
    <EIS>
        <version>0.0.1</version>
        <title>EIS</title>
        <description>EIS Integration</description>
        <author>
            <name>Rick Myers</name>
            <email>rmyers@argusdentalvision.com</email>
        </author>
        <module>
            <name>EIS</name>
            <weight>50</weight>
            <required>N</required>
            <workflow>Y</workflow>
            <package>Integration</package>
            <use>Smarty3</use>
        </module>
        <structure>
            <models>
                <source>EIS/Models</source>
            </models>
            <helpers>
                <source>EIS/Helpers</source>
            </helpers>
            <controllers>
                <source>EIS/Controllers</source>
                <cache>EIS/Controllers/Cache</cache>
            </controllers>
            <mobile>
                <controllers>
                    <source>EIS/Mobile/Controllers</source>
                    <cache>EIS/Mobile/Controllers/Cache</cache>
                </controllers>
                <views>
                    <source>EIS/Mobile/Views</source>
                    <cache>EIS/Mobile/Views/Cache</cache>
                </views>
            </mobile>
            <schema>
                <install>EIS/Schema/Install</install>
                <update>EIS/Schema/Update</update>
                <layout>EIS/Schema/DSL</layout>
            </schema>
            <configuration>
                <source>EIS/etc</source>
            </configuration>
            <views>
                <source>EIS/Views</source>
                <cache>EIS/Views/Cache</cache>
            </views>
            <images>
                <source>EIS/Images</source>
                <cache>EIS/Images/Cache</cache>
            </images>
            <entities>
                <source>EIS/Entities</source>
            </entities>
            <RPC>
                <source>EIS/RPC</source>
            </RPC>
            <frontend>
                <source>EIS/web/app</source>
            </frontend>
        </structure>
        <orm>
            <prefix>eis_</prefix>
            <mongodb>eis</mongodb>
            <entities>

            </entities>
        </orm>
        <events>

        </events>
        <web>
            <edits>
                <edit1>EIS/web/edits/edit.json</edit1>
            </edits>
            <dashboard>
                <js>
                    <source>EIS/web/js/EIS.js</source>
                </js>
                <css>
                    <source>EIS/web/css/EIS.css</source>
                </css>
            </dashboard>
        </web>
    </EIS>
</config>