<?xml version="1.0"?>
<config>
    <hedis>
        <version>0.0.1</version>
        <title>HEDIS/Excedis</title>
        <description>HEDIS Related Functionality</description>
        <author>
            <name>Emi Clar</name>
            <email>eclar@aflac.com</email>
        </author>
        <module>
            <name>Hedis</name>
            <weight>50</weight>
            <use>Smarty3</use>
            <package>Main</package>
            <workflow>Y</workflow>
            <required>N</required>
        </module>
        <structure>
            <models>
                <source>Hedis/Models</source>
            </models>
            <config>
                <source>Hedis/etc</source>
            </config>
            <helpers>
                <source>Hedis/Helpers</source>
            </helpers>
            <controllers>
                <source>Hedis/Controllers</source>
                <cache>Hedis/Controllers_Cache</cache>
            </controllers>
            <schema>
                <install>Hedis/Schema/Install</install>
                <update>Hedis/Schema/Update</update>
                <layout>Hedis/Schema/DSL</layout>
            </schema>
            <configuration>
                <source>Hedis/etc</source>
            </configuration>
            <views>
                <source>Hedis/Views</source>
                <cache>Hedis/Views/Cache</cache>
            </views>
            <images>
                <source>Hedis/Images</source>
                <cache>Hedis/Images/Cache</cache>
            </images>
            <entities>
                <source>Hedis/Entities</source>
            </entities>
            <RPC>
                <source>Hedis/RPC</source>
            </RPC>
            <frontend>
                <source>Hedis/web/app</source>
            </frontend>
        </structure>
        <orm>
            <prefix>hedis_</prefix>
            <mongodb>hedis</mongodb>
            <entities>
                <news></news>
            </entities>
        </orm>

        <web>
            <dashboard>
                <js>
                    <source>Hedis/web/js/Hedis.js</source>
                </js>
                <css>
                    <source>Hedis/web/css/Hedis.css</source>
                </css>
            </dashboard>
        </web>
    </hedis>
</config>