
.navbar-default {
  /*background-image: linear-gradient(to bottom,#759bcb 0,#668cbd 100%);*/
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI1NjFhNyIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top,  rgba(37,97,167,0.8) 0%, rgba(30,87,153,0.8) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(37,97,167,0.8)), color-stop(100%,rgba(30,87,153,0.8))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(37,97,167,0.8) 0%,rgba(30,87,153,0.8) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(37,97,167,0.8) 0%,rgba(30,87,153,0.8) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(37,97,167,0.8) 0%,rgba(30,87,153,0.8) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(37,97,167,0.8) 0%,rgba(30,87,153,0.8) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc2561a7', endColorstr='#cc1e5799',GradientType=0 ); /* IE6-8 */

  border-color: #1E5799;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  background: #6c9bd2;
  color: #184583;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #184583;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-image: -webkit-linear-gradient(top,#d2deec 0,#bfcee0 100%);
  background-image: linear-gradient(to bottom,#d2deec 0,#bfcee0 100%);
  background-color: #bfcee0;
}

/* Mobile Menu Styles */
.navbar-default .navbar-toggle {

}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #1E5799;
}
.navbar-toggle {
  background-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: rgba(30,87,153,0.8);
}
/* @767px  */
/*.navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: #fff;
}*/

#app {
  margin-top: 50px;
}

/* Form Styles */
.form-horizontal {
  background-color: rgba(255,255,255,0.7);
  padding: 20px;
}