<?xml version="1.0"?>
<config>
    <prestige>
        <version>0.0.1</version>
        <title>Prestige Functionality</title>
        <description>A module encapsulating Prestige logic</description>
        <author>
            <name>Rick Myers</name>
            <email>rmyers@argusdentalvision.com</email>
        </author>
        <module>
            <name>Prestige</name>
            <weight>70</weight>
            <use>Smarty3</use>
            <package>Clients</package>
            <workflow>Y</workflow>
            <required>Y</required>
        </module>
        <structure>
            <models>
                <source>Prestige/Models</source>
            </models>
            <config>
                <source>Prestige/etc</source>
            </config>
            <helpers>
                <source>Prestige/Helpers</source>
            </helpers>
            <controllers>
                <source>Prestige/Controllers</source>
                <cache>Prestige/Controllers_Cache</cache>
            </controllers>
            <schema>
                <install>Prestige/Schema_Install</install>
                <update>Prestige/Schema_Update</update>
                <layout>Prestige/Schema_DSL</layout>
            </schema>
            <configuration>
                <source>Prestige/etc</source>
            </configuration>
            <views>
                <source>Prestige/Views</source>
                <cache>Prestige/Views_Cache</cache>
            </views>
            <images>
                <source>Prestige/Images</source>
                <cache>Prestige/Images_Cache</cache>
            </images>
            <entities>
                <source>Prestige/Entities</source>
            </entities>
            <RPC>
                <source>Prestige/RPC</source>
            </RPC>
            <frontend>
                <source>Prestige/web_app</source>
            </frontend>
        </structure>
        <orm>
            <prefix>prestige_</prefix>
            <mongodb>prestige</mongodb>
            <entities>
            </entities>
        </orm>

        <web>
            <edits>
                <reconciliation>Prestige/web/edits/reconciliation.json</reconciliation>
            </edits>
            <dashboard>
                <js>
                    <source>Prestige/web/js/Prestige.js</source>
                </js>
                <css>
                    <source>Prestige/web/css/Prestige.css</source>
                </css>
            </dashboard>
        </web>
    </prestige>
</config>