<?xml version="1.0"?>
<config>
    <aetna>
        <version>0.0.1</version>
        <title>Aetna Functionality</title>
        <description>Container for all things Aetna related</description>
        <author>
            <name>Rick Myers</name>
            <email>rmyers@aflacbenefitssolutions.com</email>
        </author>
        <module>
            <name>Aetna</name>
            <weight>50</weight>
            <required>N</required>
            <workflow>Y</workflow>
            <package>Clients</package>
            <use>Smarty3</use>
        </module>
        <structure>
            <models>
                <source>Aetna/Models</source>
            </models>
            <config>
                <source>Aetna/etc</source>
            </config>
            <helpers>
                <source>Aetna/Helpers</source>
            </helpers>
            <controllers>
                <source>Aetna/Controllers</source>
                <cache>Aetna/Controllers/Cache</cache>
            </controllers>
            <schema>
                <install>Aetna/Schema/Install</install>
                <update>Aetna/Schema/Update</update>
                <layout>Aetna/Schema/DSL</layout>
            </schema>
            <configuration>
                <source>Aetna/etc</source>
            </configuration>
            <views>
                <source>Aetna/Views</source>
                <cache>Aetna/Views/Cache</cache>
            </views>
            <images>
                <source>Aetna/Images</source>
                <cache>Aetna/Images/Cache</cache>
            </images>
            <entities>
                <source>Aetna/Entities</source>
            </entities>
            <RPC>
                <source>Aetna/RPC</source>
            </RPC>
            <frontend>
                <source>Aetna/web/app</source>
            </frontend>
        </structure>
        <orm>
            <prefix>aetna_</prefix>
            <mongodb>aetna</mongodb>
            <entities>
            </entities>
        </orm>
        <web>
        </web>
    </aetna>
</config>