<?xml version="1.0"?>
<config>
    <c2b>
        <version>0.0.1</version>
        <title>Commercial to Business</title>
        <description>Functionality to support our consumer/commercial web sites</description>
        <author>
            <name>Rick Myers</name>
            <email>rmyers@argusdentalvision.com</email>
        </author>
        <module>
            <name>C2B</name>
            <weight>70</weight>
            <use>Smarty3</use>
            <package>Integration</package>
            <workflow>Y</workflow>
            <required>Y</required>
        </module>
        <structure>
            <models>
                <source>C2B/Models</source>
            </models>
            <config>
                <source>C2B/etc</source>
            </config>
            <helpers>
                <source>C2B/Helpers</source>
            </helpers>
            <controllers>
                <source>C2B/Controllers</source>
                <cache>C2B/Controllers_Cache</cache>
            </controllers>
            <schema>
                <install>C2B/Schema/Install</install>
                <update>C2B/Schema/Update</update>
                <layout>C2B/Schema/DSL</layout>
            </schema>
            <configuration>
                <source>C2B/etc</source>
            </configuration>
            <views>
                <source>C2B/Views</source>
                <cache>C2B/Views_Cache</cache>
            </views>
            <images>
                <source>C2B/Images</source>
                <cache>C2B/Images_Cache</cache>
            </images>
            <entities>
                <source>C2B/Entities</source>
            </entities>
            <RPC>
                <source>C2B/RPC</source>
            </RPC>
            <frontend>
                <source>C2B/web/app</source>
            </frontend>
        </structure>
        <orm>
            <prefix>c2b_</prefix>
            <mongodb>c2b</mongodb>
            <entities>
            </entities>
        </orm>
        <web>
        </web>
    </c2b>
</config>